.shopping-cart {
    --cart-width: 300px;
    position: fixed;
    top: 64px;
    left: 100%;
    width: var(--cart-width);
    height: 70vh;
    background-color: white;
    z-index: 10;
    transition: 0.5s;
}

.show-cart {
    left: calc(100% - var(--cart-width));
}

.shopping-products {
    width: 100%;
    padding: 0 20px;
}

.cart-product-img {
    width: 60px;
}

.cart-item-info {
    font-size: 0.9rem;
}

.bi-dash, .bi-plus {
    font-size: 1.1rem;
    cursor: pointer;
}

.bi-trash3 {
    font-size: 0.9rem;
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.checkout {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 10px;
}
