* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cabin', sans-serif;
}

.btn-custom {
  background-color: rgb(237, 163, 21);
}

.btn-custom:hover {
  background-color: rgb(240, 180, 69);
}